.App {
  text-align: center;
  font-family: Helvetica;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  background-color: #012169;
  height: 4vh;
}
.item {
  color: white;
  margin-top: 1vh;
  font-size: 1.1em;
}

.rundown {
  margin: 15px auto;
  max-width: 45%;
  border: 2px solid black;
}

li {
  list-style: none;
}

.newsImage {
  padding-top: 2vh;
  width: 80%;
}

button {
  display: inline-block;
  padding: 0.5em 1.2em;
  border: 0.1em solid #012169;
  border-radius: 0.12em;
  box-sizing: border-box;
  transition: all 0.2s;
}

button:hover {
  color: #000000;
  background-color: #FFFFFF;
  cursor: pointer;
}

.logo {
  height:40px;
  margin-top: -5px;
}

.signButton {
  margin-top: 5px;
}

.searchInput {
  width: 430px;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 16px;
  line-height: 18px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756a5;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.searchInput :focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 2px solid rgb(9, 174, 174);
    border-radius: 0;
    background-position: 100% center;
}

.searchContainer {
  margin: 10px 0 0 10px;
  width: 60%;
}

.col1 {
  float: left;
  width: 20%;
  height: 65px;
}
.col2 {
  float: none;
  height: 65px;
  overflow: hidden;
  display: table-cell; /* turn this off to lock height at 65px */
}
.col3 {
  float: right;
  height: 65px;
  width: 20%;
}

h3 {
  color: #012169;
}